<%= form_for [@article, @comment] do |f| %>
    <p>
        <%= f.text_field :body, id: 'comment-body-form', placeholder: 'Add a comment...'%>
    </p>
    <p>
        <%= f.submit 'Submit', id: 'comment-submit'%>
    </p>
<% end %>
