<div class = "comment">
    <div class = 'comment-top'>
        <p class = 'comment-author'><%=comment.author.username%></p>
        <p class = 'comment-time'><%= distance_of_time_in_words(Time.now, comment.created_at)%> ago</p>
    </div>

    <p class = "comment-text">
        <%= comment.body %>
    </p>
</div>