
.navbar {
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}

.navbar a {
    text-decoration: none;
}


.navbar .dropdown {
    position: relative;
    width: 20%;
    margin-left: auto;
}

.navbar .dropdown .dropdown-menu {
    width: 100%;
    background-color: var(--grey-2);
    position: absolute;
    display:none;
    z-index: 1; 
}

.navbar .dropdown-button{
    padding: 10px;
}

.dropdown-menu li {
    margin: 0px;
    display: block;
    width: 100%;
}

.dropdown-menu a {
    padding: 10px 0px;
}

.dropdown-menu a {
    padding: 10px 0px;
}

.dropdown-menu a:hover {
    background-color: var(--grey-3);
}


.dropdown:hover .dropdown-menu {
    display:block;
}