
body{
    background-color: var(--background);
    font-family: Arial;
    color: rgba(255, 255, 255, .87);
    font-size: 18px;
}


a {
    display: block;
    color:  rgba(255, 255, 255, .87);
}

h1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    z-index: 0;
}

header {
    padding: 30px 10%;
}

.accent-text-1{
    color: var(--accent-color-1)
}

.none-message {
    text-align: center;
    font-weight: bold;
    color: var(--accent-color-1)
}

.article-list {
    margin: 30px 100px;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: var(--grey-3);
}


