body{
    background-color: white;
    font-family: Arial;
}
h1, h2, h3{
    text-align: center;
}

.content {
    margin: 50px 150px 50px 150px;
    padding: 20px;
}

ul {
    background-color: #C4FAF8;
    padding: 30px;
    margin: 50px 200px 50px 200px;
    line-height: 100px;
}

.home, .delete, .edit{
    display: block;
    text-align: center;
}



.article_title{
    font-size: 20px;
}

.new_article{
    display: block;
    text-align: center;
}

