body{
    background-color: white;
    font-family: Arial;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

header {
    background-color: red;
}

#nav-bar {
    list-style-type: none; 
    overflow: hidden;
}


#nav-bar li{
    float: left;
}

#nav-bar li a{
    display: block;
    text-align: center;
    padding: 13px 15px 13px 15px;
}

#login-out {
    float: right !important;
}

.article-list {
    margin: 30px;
    padding: 10px;
    background-color: beige;
}

.tag-list {
    margin: 30px;
    padding: 10px;
    background-color: blue;
}


.content {
    margin: 50px 150px 50px 150px;
}


.home, .delete, .edit{
    display: block;
    text-align: center;
}



.article-title{
    font-size: 20px;
}

.new-article{
    display: block;
    text-align: center;
}

