:root {
    --accent-color-1: #6bd5f5; 
    --accent-color-2: #51a5be; 
    --accent-color-3: #3f8da5; 

    --background: #121212;

    --grey-1: #292727;
    --grey-2: #413f3f;
    --grey-3: #575555;
    --grey-4: #929191;
}